body{
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1, h2, h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

ul.products {
	padding: 0;
	margin: 0;
	max-width: 740px;
	margin-left: auto;
	margin-right: auto;
}
ul.products li {
	display: inline-block;
	max-width: 200px;
	padding: 10px;
	background-color: #FFFFFF;
	margin: 10px;
	border: 1px solid #EAEAEA;  
	color: #3D3D3D;
}
ul.products li h3 {
	margin: -10px -10px 10px -10px;
	padding: 10px;
	text-align: center;
	background-color: #F5F5F5;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #5A5A5A;
}
ul.products li fieldset {
	border: none;
	padding: 5px 5px 5px 0px;
	margin: 0;
}
ul.products li fieldset label{
	display:block;
	margin-bottom: 4px;
}
ul.products li fieldset label span{
	width: 80px;
	float: left;
}
ul.products li fieldset label select{
	min-width: 100px;
}


button:hover, .add-more:hover{
	background-color: #CCC;
	color:#cf0000;
}

.product-thumb{
	text-align:center;
}
.product-desc {
	font-style: italic;
	font-size: 0.8em;
	margin-bottom: 4px;
	height: 40px;
	overflow: hidden;
	margin-top: 5px;
}

ul.shopping-cart{
	position: fixed;
	top: 100px;
	right: 0;
	background-color: #F9F9F9;
	padding: 10px;
	min-width: 250px;
	list-style: none;
	font-size: 0.8em;
	border: 1px solid #F0F0F0;
}
ul.shopping-cart .cart-itm {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
}
ul.shopping-cart .cart-itm:last-child{
	border-bottom: none;
	margin-bottom: 0px;
}
ul.shopping-cart .cart-itm .remove-itm{
	float: right;
	font-size: 2.5em;
}
ul.shopping-cart .cart-itm .remove-itm a{
	text-decoration:none;
	color:#000;
}
.cart-total-text a{
	float:right;
}

.cart {
	max-width: 700px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.12);
	border: 1px solid #E4E4E4;
}
.cart table th{
	text-align: left;font-size:18px;color:#FFF;padding:15px;
}
.cart table thead{
	background-color: #cf0000;min-height:40px;
}
.cart table tbody tr.even{
	background-color: #F7F7F7;
}
.cart table tbody tr.odd{
	background-color: #EDEDED;
}
.cart button, .add-more{
	margin: 10px 1px;
	float: right;
}
